# **Expectativa de Vida (OMS)**

O conjunto de dados relacionado à expectativa de vida e aos fatores de saúde de 193 países foi coletado do mesmo site do repositório de dados da OMS, e os dados econômicos correspondentes foram coletados do site das Nações Unidas.



Dentre todas as categorias de fatores relacionados à saúde, foram selecionados apenas os fatores críticos mais representativos. Observou-se que, nos últimos 15 anos, houve um grande desenvolvimento no setor de saúde, resultando na redução das taxas de mortalidade humana, especialmente nos países em desenvolvimento, em comparação com os últimos 30 anos. Portanto, neste projeto, consideramos dados do período de 2000 a 2015 para 193 países para análises posteriores.

# **Explicação das Colunas**


* Country - País                        
* Year - Idade                               
* Status - Status de país desenvolvido ou em desenvolvimento                            
* Life expectancy - Expectativa de vida por idade               
* Adult Mortality - Taxa de mortalidade adulta para ambos os sexos (probabilidade de morte entre 15 e 60 anos por 1000 habitantes)         
* infant deaths - Número de mortes infantis por 1000 habitantes
* Alcohol - Álcool, consumo per capita (15+) registado (em litros de álcool puro)
* percentage expenditure - Percentual de Gastos, despesas com saúde como porcentagem do Produto Interno Bruto per capita (%)
* Hepatitis B - Cobertura vacinal contra hepatite B (HepB) em crianças de 1 ano de idade (%)
* Measles - Sarampo, número de casos notificados por 1000 habitantes.
* BMI - IMC, Índice de Massa Corporal médio de toda a população
* under-five deaths - Número de mortes de crianças menores de cinco anos por 1000 habitantes
* Polio - Cobertura vacinal contra a poliomielite (Pol3) em crianças de 1 ano de idade (%)   
* Total expenditure - Despesas do governo geral com saúde como porcentagem das despesas totais do governo (%)
* Diphtheria - Cobertura da vacinação contra difteria, tétano e coqueluche (DTP3) em crianças de 1 ano de idade (%)
* HIV/AIDS - Mortes por 1.000 nascidos vivos por HIV/AIDS (0-4 anos)  
* GDP - PIB, Produto Interno Bruto per capita (em USD)  
* Population - População do País
* thinness  1-19 years - Magreza 10 - 19 anos, prevalência de magreza entre crianças e adolescentes de 10 a 19 anos (%)  
* thinness 5-9 years - Prevalência de magreza em crianças de 5 a 9 anos (%)     
* Income composition of resources - Índice de Desenvolvimento Humano em termos de composição da renda dos recursos (índice variando de 0 a 1)  
* Schooling - Escolarização, número de anos de escolaridade (anos)

## *Importações*

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df =pd.read_csv("./expectancy.csv")

In [6]:
df

,Unnamed: 0,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0,Afghanistan,2O15,Developing,65.0,263.0,62,0.01,71.279624,65.0,...,6.0,8.16,65.0,0.1,584.259210,3.373649e+07,17.2,17.3,0.479,10.1
1,1,Afghanistan,2O14,Developing,59.9,271.0,64,0.01,73.523582,62.0,...,58.0,8.18,62.0,0.1,612.696514,3.275820e+05,17.5,17.5,0.476,10.0
2,2,Afghanistan,2O13,Developing,59.9,268.0,66,0.01,73.219243,64.0,...,62.0,8.13,64.0,0.1,631.744976,3.173169e+07,17.7,17.7,0.470,9.9
3,3,Afghanistan,2O12,Developing,59.5,272.0,69,0.01,78.184215,67.0,...,67.0,8.52,67.0,0.1,669.959000,3.696958e+06,17.9,18.0,0.463,9.8
4,4,Afghanistan,2O11,Developing,59.2,275.0,71,0.01,7.097109,68.0,...,68.0,7.87,68.0,0.1,63.537231,2.978599e+06,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2943,840,Equatorial Guinea,2OO9,Developing,55.7,34.0,3,7.97,115.069242,NaN,...,57.0,5.32,43.0,7.3,1653.293700,9.911100e+04,9.2,9.2,0.590,9.1
2944,1037,Greece,2OO4,Developing,79.2,81.0,0,9.56,287.612452,92.0,...,95.0,8.30,95.0,0.1,21955.149000,1.955141e+06,0.8,0.8,0.830,15.3
2945,2399,South Africa,2OO9,Developing,56.5,449.0,46,7.60,782.598714,74.0,...,75.0,8.39,76.0,19.0,5888.628400,5.255813e+06,8.1,9.8,0.622,12.8
2946,678,Cyprus,2O1O,Developed,79.5,59.0,0,11.32,283.330026,96.0,...,99.0,7.23,99.0,0.1,3818.463960,1.112670e+05,0.9,1.0,0.853,14.6
2947,196,Bangladesh,2O11,Developing,73.0,14.0,118,0.01,62.349885,96.0,...,96.0,3.16,96.0,0.1,835.789341,1.539119e+08,18.7,19.2,0.545,9.4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2948 entries, 0 to 2947
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       2948 non-null   int64
 1   Country                          2948 non-null   object
 2   Year                             2948 non-null   object
 3   Status                           2948 non-null   object
 4   Life expectancy                  2938 non-null   float64
 5   Adult Mortality                  2938 non-null   float64
 6   infant deaths                    2948 non-null   int64
 7   Alcohol                          2754 non-null   float64
 8   percentage expenditure           2948 non-null   float64
 9   Hepatitis B                      2392 non-null   float64
 10  Measles                          2948 non-null   int64
 11  BMI                              2914 non-null   float64
 12  under-five deaths                2948 non-null   int64
 13  Polio                            2929 non-null   float64
 14  Total expenditure                2722 non-null   float64
 15  Diphtheria                       2929 non-null   float64
 16  HIV/AIDS                         2948 non-null   float64
 17  GDP                              2500 non-null   float64
 18  Population                       2295 non-null   float64
 19  thinness  1-19 years             2914 non-null   float64
 20  thinness 5-9 years               2914 non-null   float64
 21  Income composition of resources  2781 non-null   float64
 22  Schooling                        2785 non-null   float64
dtypes: float64(16), int64(4), object(3)
memory usage: 529.8+ KB

In [8]:
df.head(10)

,Unnamed: 0,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,0,Afghanistan,2O15,Developing,65.0,263.0,62,0.01,71.279624,65.0,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,1,Afghanistan,2O14,Developing,59.9,271.0,64,0.01,73.523582,62.0,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2,Afghanistan,2O13,Developing,59.9,268.0,66,0.01,73.219243,64.0,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,3,Afghanistan,2O12,Developing,59.5,272.0,69,0.01,78.184215,67.0,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,4,Afghanistan,2O11,Developing,59.2,275.0,71,0.01,7.097109,68.0,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,5,Afghanistan,2O1O,Developing,58.8,279.0,74,0.01,79.679367,66.0,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,6,Afghanistan,2OO9,Developing,58.6,281.0,77,0.01,56.762217,63.0,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,7,Afghanistan,2OO8,Developing,58.1,287.0,80,0.03,25.873925,64.0,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,8,Afghanistan,2OO7,Developing,57.5,295.0,82,0.02,10.910156,63.0,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,9,Afghanistan,2OO6,Developing,57.3,295.0,84,0.03,17.171518,64.0,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

In [ ]:
#ultimas linhas
df.tail(20)

,Unnamed: 0,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2928,2928,Zimbabwe,2OO9,Developing,50.0,587.0,30,4.64,1.040021,73.0,...,69.0,6.26,73.0,18.1,65.824121,1.381599e+06,7.5,7.4,0.419,9.9
2929,2929,Zimbabwe,2OO8,Developing,48.2,632.0,30,3.56,20.843429,75.0,...,75.0,4.96,75.0,20.5,325.678573,1.355847e+07,7.8,7.8,0.421,9.7
2930,2930,Zimbabwe,2OO7,Developing,46.6,67.0,29,3.88,29.814566,72.0,...,73.0,4.47,73.0,23.7,396.998217,1.332999e+06,8.2,8.2,0.414,9.6
2931,2931,Zimbabwe,2OO6,Developing,45.4,7.0,28,4.57,34.262169,68.0,...,71.0,5.12,7.0,26.8,414.796232,1.312427e+07,8.6,8.6,0.408,9.5
2932,2932,Zimbabwe,2OO5,Developing,44.6,717.0,28,4.14,8.717409,65.0,...,69.0,6.44,68.0,30.3,444.765750,1.294320e+05,9.0,9.0,0.406,9.3
2933,2933,Zimbabwe,2OO4,Developing,44.3,723.0,27,4.36,0.000000,68.0,...,67.0,7.13,65.0,33.6,454.366654,1.277751e+07,9.4,9.4,0.407,9.2
2934,2934,Zimbabwe,2OO3,Developing,44.5,715.0,26,4.06,0.000000,7.0,...,7.0,6.52,68.0,36.7,453.351155,1.263390e+07,9.8,9.9,0.418,9.5
2935,2935,Zimbabwe,2OO2,Developing,44.8,73.0,25,4.43,0.000000,73.0,...,73.0,6.53,71.0,39.8,57.348340,1.255250e+05,1.2,1.3,0.427,10.0
2936,2936,Zimbabwe,2OO1,Developing,45.3,686.0,25,1.72,0.000000,76.0,...,76.0,6.16,75.0,42.1,548.587312,1.236616e+07,1.6,1.7,0.427,9.8
2937,2937,Zimbabwe,2OOO,Developing,46.0,665.0,24,1.68,0.000000,79.0,...,78.0,7.10,78.0,43.5,547.358878,1.222225e+07,11.0,11.2,0.434,9.8
2938,2938,Syrian Arab Republic,2OO6,Developing,73.7,123.0,8,0.97,122.652333,83.0,...,83.0,3.78,8.0,0.1,1762.246170,1.891498e+07,6.4,6.3,0.636,11.4
2939,2939,Croatia,2OO6,Developed,75.9,113.0,0,11.83,1555.651986,NaN,...,96.0,6.95,96.0,0.1,11363.418450,4.440000e+02,1.8,1.8,0.783,13.9
2940,2940,Montenegro,2OO7,Developing,74.2,125.0,0,4.98,678.518894,9.0,...,92.0,6.74,92.0,0.1,5957.145693,6.158750e+05,2.1,2.2,0.762,13.6
2941,2941,Bahrain,2O14,Developing,76.8,7.0,0,1.57,367.255674,98.0,...,98.0,4.98,98.0,0.1,24983.379200,NaN,6.1,6.0,0.820,14.5
2942,2942,Kenya,2OOO,Developing,51.9,428.0,77,1.51,0.681686,NaN,...,8.0,4.68,82.0,18.1,43.979713,3.145483e+06,9.2,9.1,0.448,8.4
2943,840,Equatorial Guinea,2OO9,Developing,55.7,34.0,3,7.97,115.069242,NaN,...,57.0,5.32,43.0,7.3,1653.293700,9.911100e+04,9.2,9.2,0.590,9.1
2944,1037,Greece,2OO4,Developing,79.2,81.0,0,9.56,287.612452,92.0,...,95.0,8.30,95.0,0.1,21955.149000,1.955141e+06,0.8,0.8,0.830,15.3
2945,2399,South Africa,2OO9,Developing,56.5,449.0,46,7.60,782.598714,74.0,...,75.0,8.39,76.0,19.0,5888.628400,5.255813e+06,8.1,9.8,0.622,12.8
2946,678,Cyprus,2O1O,Developed,79.5,59.0,0,11.32,283.330026,96.0,...,99.0,7.23,99.0,0.1,3818.463960,1.112670e+05,0.9,1.0,0.853,14.6
2947,196,Bangladesh,2O11,Developing,73.0,14.0,118,0.01,62.349885,96.0,...,96.0,3.16,96.0,0.1,835.789341,1.539119e+08,18.7,19.2,0.545,9.4

In [ ]:
#dados estatisticos das colunas numericas - sem tratatmento
df.describe()

,Unnamed: 0,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2948.000000,2938.000000,2938.000000,2948.000000,2754.000000,2948.000000,2392.000000,2948.000000,2914.000000,2948.000000,2929.000000,2722.000000,2929.000000,2948.000000,2500.000000,2.295000e+03,2914.000000,2914.000000,2781.000000,2785.000000
mean,1470.252035,69.226344,164.723281,30.286635,4.606961,737.190647,80.932692,2422.627883,38.341661,42.013908,82.541140,5.938244,82.311028,1.751493,7484.530433,1.278354e+07,4.844818,4.876047,0.627772,11.993896
std,849.733306,9.525726,124.407794,117.749239,4.053810,1984.794497,25.084151,11453.807243,20.041486,160.204764,23.441848,2.495948,23.735894,5.089702,14251.634585,6.096690e+07,4.423995,4.513231,0.210705,3.356053
min,0.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,734.750000,63.100000,74.000000,0.000000,0.880000,4.768003,77.000000,0.000000,19.300000,0.000000,78.000000,4.260000,78.000000,0.100000,464.218481,1.947545e+05,1.600000,1.500000,0.493000,10.100000
50%,1469.500000,72.100000,144.000000,3.000000,3.760000,65.723144,92.000000,17.000000,43.500000,4.000000,93.000000,5.755000,93.000000,0.100000,1770.253970,1.388115e+06,3.300000,3.300000,0.677000,12.300000
75%,2206.250000,75.700000,227.750000,22.000000,7.717500,441.977840,97.000000,362.000000,56.200000,28.000000,97.000000,7.490000,97.000000,0.800000,5935.136533,7.417429e+06,7.200000,7.200000,0.780000,14.300000
max,2942.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.600000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [11]:
df.isnull().sum()

Unnamed: 0                           0
Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        556
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         653
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [ ]:
df.shape[0] #linhas

2948

In [13]:
df.shape[1] #colunas

23

# **1. Análise Exploratória Geral**

Responda às seguintes perguntas:


1.   Quantas linhas e colunas temos no nosso dataset?
2.   Temos dados nulos? Se sim, qual a porcentagem deles? É uma porcentagem significativa?
3. Sobre os dados nulos com maior porcentagem, qual o tipo deles? Tente pensar em hipóteses do porquê eles estão nulos.
4. Existem duplicatas?
5. Todas as colunas estão com o seu tipo correto?
6. Como verificar as principais estatísticas das colunas numéricas? Escolha uma coluna com valores nulos para verificar como a média, moda, mediana.

In [35]:
#1-
if df is not None:
 
    linhas, colunas = df.shape
    print(f"O dataset possui {linhas} linhas.")
    print(f"O dataset possui {colunas} colunas.")

O dataset possui 2948 linhas.
O dataset possui 23 colunas.

In [54]:
#2-

print("\n Questao:  2. Temos dados nulos? Se sim, qual a porcentagem deles?")
nulos_total = df.isnull().sum()

if nulos_total.sum() == 0:
    print("Não há dados nulos no dataset.")
else:
    print("Sim, temos dados nulos.")


# Calcula o percentual de nulos
percentual_nulos = (nulos_total / len(df)) * 100

# Filtra e ordena para mostrar apenas colunas com nulos
percentual_ordenado = percentual_nulos[percentual_nulos > 0].sort_values(ascending=False)

print("\nPercentual de dados nulos por coluna (apenas colunas com nulos):")
print(percentual_ordenado.map("{:.2f}%".format))

print("\n-- Análise da Significância --")
print("Uma porcentagem é considerada 'significativa' dependendo do contexto.")
print(" - Porcentagens baixas (ex: < 5%) muitas vezes podem ser tratadas (removendo linhas ou preenchendo) sem grande impacto.")
print(" - Porcentagens altas (ex: > 30-40%) são muito significativas. Usar essa coluna pode ser arriscado.")

 Questao:  2. Temos dados nulos? Se sim, qual a porcentagem deles?
Sim, temos dados nulos.

Percentual de dados nulos por coluna (apenas colunas com nulos):
Population                         22.15%
Hepatitis B                        18.86%
GDP                                15.20%
Total expenditure                   7.67%
Alcohol                             6.58%
Income composition of resources     5.66%
Schooling                           5.53%
thinness 5-9 years                  1.15%
thinness  1-19 years                1.15%
BMI                                 1.15%
Polio                               0.64%
Diphtheria                          0.64%
Life expectancy                     0.34%
Adult Mortality                     0.34%
dtype: object

-- Análise da Significância --
Uma porcentagem é considerada 'significativa' dependendo do contexto.
 - Porcentagens baixas (ex: < 5%) muitas vezes podem ser tratadas (removendo linhas ou preenchendo) sem grande impacto.
 - Porcentagens altas (ex: > 30-40%) são muito significativas. Usar essa coluna pode ser arriscado.

In [ ]:
#4 - Existem duplicatas

#duplicatas_linhas = df.duplicated()
#print(duplicatas_linhas)

# Para ver as linhas duplicadas (mantendo todas as ocorrências exceto a primeira)
#df[duplicatas_linhas]

print("\n Questao: 4. Existem duplicatas? ###")
duplicatas = df.duplicated().sum()

if duplicatas == 0:
    print("Não existem linhas duplicadas no dataset.")
else:
    print(f"Alerta: Existem {duplicatas} linhas duplicadas no dataset.")

 Questao: 4. Existem duplicatas? ###
      Unnamed: 0            Country  Year      Status  Life expectancy  \
2943         840  Equatorial Guinea  2OO9  Developing             55.7
2944        1037             Greece  2OO4  Developing             79.2
2945        2399       South Africa  2OO9  Developing             56.5
2946         678             Cyprus  2O1O   Developed             79.5
2947         196         Bangladesh  2O11  Developing             73.0

      Adult Mortality  infant deaths  Alcohol  percentage expenditure  \
2943             34.0              3     7.97              115.069242
2944             81.0              0     9.56              287.612452
2945            449.0             46     7.60              782.598714
2946             59.0              0    11.32              283.330026
2947             14.0            118     0.01               62.349885

      Hepatitis B  Measles   BMI  under-five deaths  Polio  Total expenditure  \
2943          NaN       78  21.7                  4   57.0               5.32
2944         92.0        1  59.9                  1   95.0               8.30
2945         74.0     5857  46.4                 70   75.0               8.39
2946         96.0       18  57.8                  0   99.0               7.23
2947         96.0     5625  15.8                150   96.0               3.16

      Diphtheria  HIV/AIDS           GDP    Population  thinness  1-19 years  \
2943        43.0       7.3   1653.293700  9.911100e+04                   9.2
2944        95.0       0.1  21955.149000  1.955141e+06                   0.8
2945        76.0      19.0   5888.628400  5.255813e+06                   8.1
2946        99.0       0.1   3818.463960  1.112670e+05                   0.9
2947        96.0       0.1    835.789341  1.539119e+08                  18.7

      thinness 5-9 years  Income composition of resources  Schooling
2943                 9.2                            0.590        9.1
2944                 0.8                            0.830       15.3
2945                 9.8                            0.622       12.8
2946                 1.0                            0.853       14.6
2947                19.2                            0.545        9.4
Alerta: Existem 5 linhas duplicadas no dataset.

In [53]:
#4 - Existem duplicatas

duplicatas_linhas = df.duplicated()
#print(duplicatas_linhas)

# Para ver as linhas duplicadas (mantendo todas as ocorrências exceto a primeira)
df[duplicatas_linhas]

,Unnamed: 0,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2943,840,Equatorial Guinea,2OO9,Developing,55.7,34.0,3,7.97,115.069242,NaN,78,21.7,4,57.0,5.32,43.0,7.3,1653.293700,9.911100e+04,9.2,9.2,0.590,9.1
2944,1037,Greece,2OO4,Developing,79.2,81.0,0,9.56,287.612452,92.0,1,59.9,1,95.0,8.30,95.0,0.1,21955.149000,1.955141e+06,0.8,0.8,0.830,15.3
2945,2399,South Africa,2OO9,Developing,56.5,449.0,46,7.60,782.598714,74.0,5857,46.4,70,75.0,8.39,76.0,19.0,5888.628400,5.255813e+06,8.1,9.8,0.622,12.8
2946,678,Cyprus,2O1O,Developed,79.5,59.0,0,11.32,283.330026,96.0,18,57.8,0,99.0,7.23,99.0,0.1,3818.463960,1.112670e+05,0.9,1.0,0.853,14.6
2947,196,Bangladesh,2O11,Developing,73.0,14.0,118,0.01,62.349885,96.0,5625,15.8,150,96.0,3.16,96.0,0.1,835.789341,1.539119e+08,18.7,19.2,0.545,9.4

In [ ]:
#5-Todas as colunas estão com o seu tipo correto?

In [58]:
#6-Como verificar as principais estatísticas das colunas numéricas? Escolha uma coluna com valores nulos para verificar como a média, moda, mediana.

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

df['Population']

print(f"Media :{df['Population'].median()}")
print(f"Mediana : {df['Population'].mean()}")
print(f"Moda : {df['Population'].mode()}")

Media :1388115.0
Mediana : 12783540.54533769
Moda : 0    444.0
Name: Population, dtype: float64

In [14]:
if df is not None:
 
    linhas, colunas = df.shape
    print(f"O dataset possui {linhas} linhas.")
    print(f"O dataset possui {colunas} colunas.")

O dataset possui 2948 linhas.
O dataset possui 23 colunas.

# **2. Análise Univariada**

7. Como as variáveis numéricas estão distribuídas? Alguma apresenta distribuição normal, ou todas são assimétricas?
8. Qual país aparece com maior frequência? E o menos frequente?
9. Existem mais países em desenvolvimento ou desenvolvidos?
10. Os outliers existentes são reais ou valores extremos que não condizem com a realidade?
11. Qual o ano que apresenta mais informações?
12. Como está a escolaridade média?

In [ ]:
#7 - 


#colunas_numericas = df.select_dtypes(include=['number'])

# 2. Calcula o coeficiente de assimetria para cada coluna
#assimetria = colunas_numericas.skew()

#print("Coeficiente de Assimetria (Skewness):")
#print(assimetria)

0       <NA>
1       <NA>
2       <NA>
3       <NA>
4       <NA>
5       <NA>
6       <NA>
7       <NA>
8       <NA>
9       <NA>
10      <NA>
11      <NA>
12      <NA>
13      <NA>
14      <NA>
15      <NA>
16      <NA>
17      <NA>
18      <NA>
19      <NA>
20      <NA>
21      <NA>
22      <NA>
23      <NA>
24      <NA>
25      <NA>
26      <NA>
27      <NA>
28      <NA>
29      <NA>
30      <NA>
31      <NA>
32      <NA>
33      <NA>
34      <NA>
35      <NA>
36      <NA>
37      <NA>
38      <NA>
39      <NA>
40      <NA>
41      <NA>
42      <NA>
43      <NA>
44      <NA>
45      <NA>
46      <NA>
47      <NA>
48      <NA>
49      <NA>
50      <NA>
51      <NA>
52      <NA>
53      <NA>
54      <NA>
55      <NA>
56      <NA>
57      <NA>
58      <NA>
59      <NA>
60      <NA>
61      <NA>
62      <NA>
63      <NA>
64      <NA>
65      <NA>
66      <NA>
67      <NA>
68      <NA>
69      <NA>
70      <NA>
71      <NA>
72      <NA>
73      <NA>
74      <NA>
75      <NA>
76      <NA>
77      <NA>
78      <NA>
79      <NA>
80      <NA>
81      <NA>
82      <NA>
83      <NA>
84      <NA>
85      <NA>
86      <NA>
87      <NA>
88      <NA>
89      <NA>
90      <NA>
91      <NA>
92      <NA>
93      <NA>
94      <NA>
95      <NA>
96      <NA>
97      <NA>
98      <NA>
99      <NA>
100     <NA>
101     <NA>
102     <NA>
103     <NA>
104     <NA>
105     <NA>
106     <NA>
107     <NA>
108     <NA>
109     <NA>
110     <NA>
111     <NA>
112     <NA>
113     <NA>
114     <NA>
115     <NA>
116     <NA>
117     <NA>
118     <NA>
119     <NA>
120     <NA>
121     <NA>
122     <NA>
123     <NA>
124     <NA>
125     <NA>
126     <NA>
127     <NA>
128     <NA>
129     <NA>
130     <NA>
131     <NA>
132     <NA>
133     <NA>
134     <NA>
135     <NA>
136     <NA>
137     <NA>
138     <NA>
139     <NA>
140     <NA>
141     <NA>
142     <NA>
143     <NA>
144     <NA>
145     <NA>
146     <NA>
147     <NA>
148     <NA>
149     <NA>
150     <NA>
151     <NA>
152     <NA>
153     <NA>
154     <NA>
155     <NA>
156     <NA>
157     <NA>
158     <NA>
159     <NA>
160     <NA>
161     <NA>
162     <NA>
163     <NA>
164     <NA>
165     <NA>
166     <NA>
167     <NA>
168     <NA>
169     <NA>
170     <NA>
171     <NA>
172     <NA>
173     <NA>
174     <NA>
175     <NA>
176     <NA>
177     <NA>
178     <NA>
179     <NA>
180     <NA>
181     <NA>
182     <NA>
183     <NA>
184     <NA>
185     <NA>
186     <NA>
187     <NA>
188     <NA>
189     <NA>
190     <NA>
191     <NA>
192     <NA>
193     <NA>
194     <NA>
195     <NA>
196     <NA>
197     <NA>
198     <NA>
199     <NA>
200     <NA>
201     <NA>
202     <NA>
203     <NA>
204     <NA>
205     <NA>
206     <NA>
207     <NA>
208     <NA>
209     <NA>
210     <NA>
211     <NA>
212     <NA>
213     <NA>
214     <NA>
215     <NA>
216     <NA>
217     <NA>
218     <NA>
219     <NA>
220     <NA>
221     <NA>
222     <NA>
223     <NA>
224     <NA>
225     <NA>
226     <NA>
227     <NA>
228     <NA>
229     <NA>
230     <NA>
231     <NA>
232     <NA>
233     <NA>
234     <NA>
235     <NA>
236     <NA>
237     <NA>
238     <NA>
239     <NA>
240     <NA>
241     <NA>
242     <NA>
243     <NA>
244     <NA>
245     <NA>
246     <NA>
247     <NA>
248     <NA>
249     <NA>
250     <NA>
251     <NA>
252     <NA>
253     <NA>
254     <NA>
255     <NA>
256     <NA>
257     <NA>
258     <NA>
259     <NA>
260     <NA>
261     <NA>
262     <NA>
263     <NA>
264     <NA>
265     <NA>
266     <NA>
267     <NA>
268     <NA>
269     <NA>
270     <NA>
271     <NA>
272     <NA>
273     <NA>
274     <NA>
275     <NA>
276     <NA>
277     <NA>
278     <NA>
279     <NA>
280     <NA>
281     <NA>
282     <NA>
283     <NA>
284     <NA>
285     <NA>
286     <NA>
287     <NA>
288     <NA>
289     <NA>
290     <NA>
291     <NA>
292     <NA>
293     <NA>
294     <NA>
295     <NA>
296     <NA>
297     <NA>
298     <NA>
299     <NA>
300     <NA>
301     <NA>
302     <NA>
303     <NA>
304     <NA>
305     <NA>
306     <NA>
307     <NA>
308     <NA>
309     <NA>
310     <NA>
311     <NA>
312     <NA>
313     <NA>
314     <NA>
315     <NA>
316     <NA>
317     <NA>
318     <NA>
319     <NA>
320     <NA>
321     <NA>
322     <NA>
323     <NA>
324     <NA>
325     <NA>
326     <NA>
327     <NA>
328     <NA>
329     <NA>
330     <NA>
331     <NA>
332     <NA>
333     <NA>
334     <NA>
335     <NA>
336     <NA>
337     <NA>
338     <NA>
339     <NA>
340     <NA>
341     <NA>
342     <NA>
343     <NA>
344     <NA>
345     <NA>
346     <NA>
347     <NA>
348     <NA>
349     <NA>
350     <NA>
351     <NA>
352     <NA>
353     <NA>
354     <NA>
355     <NA>
356     <NA>
357     <NA>
358     <NA>
359     <NA>
360     <NA>
361     <NA>
362     <NA>
363     <NA>
364     <NA>
365     <NA>
366     <NA>
367     <NA>
368     <NA>
369     <NA>
370     <NA>
371     <NA>
372     <NA>
373     <NA>
374     <NA>
375     <NA>
376     <NA>
377     <NA>
378     <NA>
379     <NA>
380     <NA>
381     <NA>
382     <NA>
383     <NA>
384     <NA>
385     <NA>
386     <NA>
387     <NA>
388     <NA>
389     <NA>
390     <NA>
391     <NA>
392     <NA>
393     <NA>
394     <NA>
395     <NA>
396     <NA>
397     <NA>
398     <NA>
399     <NA>
400     <NA>
401     <NA>
402     <NA>
403     <NA>
404     <NA>
405     <NA>
406     <NA>
407     <NA>
408     <NA>
409     <NA>
410     <NA>
411     <NA>
412     <NA>
413     <NA>
414     <NA>
415     <NA>
416     <NA>
417     <NA>
418     <NA>
419     <NA>
420     <NA>
421     <NA>
422     <NA>
423     <NA>
424     <NA>
425     <NA>
426     <NA>
427     <NA>
428     <NA>
429     <NA>
430     <NA>
431     <NA>
432     <NA>
433     <NA>
434     <NA>
435     <NA>
436     <NA>
437     <NA>
438     <NA>
439     <NA>
440     <NA>
441     <NA>
442     <NA>
443     <NA>
444     <NA>
445     <NA>
446     <NA>
447     <NA>
448     <NA>
449     <NA>
450     <NA>
451     <NA>
452     <NA>
453     <NA>
454     <NA>
455     <NA>
456     <NA>
457     <NA>
458     <NA>
459     <NA>
460     <NA>
461     <NA>
462     <NA>
463     <NA>
464     <NA>
465     <NA>
466     <NA>
467     <NA>
468     <NA>
469     <NA>
470     <NA>
471     <NA>
472     <NA>
473     <NA>
474     <NA>
475     <NA>
476     <NA>
477     <NA>
478     <NA>
479     <NA>
480     <NA>
481     <NA>
482     <NA>
483     <NA>
484     <NA>
485     <NA>
486     <NA>
487     <NA>
488     <NA>
489     <NA>
490     <NA>
491     <NA>
492     <NA>
493     <NA>
494     <NA>
495     <NA>
496     <NA>
497     <NA>
498     <NA>
499     <NA>
500     <NA>
501     <NA>
502     <NA>
503     <NA>
504     <NA>
505     <NA>
506     <NA>
507     <NA>
508     <NA>
509     <NA>
510     <NA>
511     <NA>
512     <NA>
513     <NA>
514     <NA>
515     <NA>
516     <NA>
517     <NA>
518     <NA>
519     <NA>
520     <NA>
521     <NA>
522     <NA>
523     <NA>
524     <NA>
525     <NA>
526     <NA>
527     <NA>
528     <NA>
529     <NA>
530     <NA>
531     <NA>
532     <NA>
533     <NA>
534     <NA>
535     <NA>
536     <NA>
537     <NA>
538     <NA>
539     <NA>
540     <NA>
541     <NA>
542     <NA>
543     <NA>
544     <NA>
545     <NA>
546     <NA>
547     <NA>
548     <NA>
549     <NA>
550     <NA>
551     <NA>
552     <NA>
553     <NA>
554     <NA>
555     <NA>
556     <NA>
557     <NA>
558     <NA>
559     <NA>
560     <NA>
561     <NA>
562     <NA>
563     <NA>
564     <NA>
565     <NA>
566     <NA>
567     <NA>
568     <NA>
569     <NA>
570     <NA>
571     <NA>
572     <NA>
573     <NA>
574     <NA>
575     <NA>
576     <NA>
577     <NA>
578     <NA>
579     <NA>
580     <NA>
581     <NA>
582     <NA>
583     <NA>
584     <NA>
585     <NA>
586     <NA>
587     <NA>
588     <NA>
589     <NA>
590     <NA>
591     <NA>
592     <NA>
593     <NA>
594     <NA>
595     <NA>
596     <NA>
597     <NA>
598     <NA>
599     <NA>
600     <NA>
601     <NA>
602     <NA>
603     <NA>
604     <NA>
605     <NA>
606     <NA>
607     <NA>
608     <NA>
609     <NA>
610     <NA>
611     <NA>
612     <NA>
613     <NA>
614     <NA>
615     <NA>
616     <NA>
617     <NA>
618     <NA>
619     <NA>
620     <NA>
621     <NA>
622     <NA>
623     <NA>
624     <NA>
625     <NA>
626     <NA>
627     <NA>
628     <NA>
629     <NA>
630     <NA>
631     <NA>
632     <NA>
633     <NA>
634     <NA>
635     <NA>
636     <NA>
637     <NA>
638     <NA>
639     <NA>
640     <NA>
641     <NA>
642     <NA>
643     <NA>
644     <NA>
645     <NA>
646     <NA>
647     <NA>
648     <NA>
649     <NA>
650     <NA>
651     <NA>
652     <NA>
653     <NA>
654     <NA>
655     <NA>
656     <NA>
657     <NA>
658     <NA>
659     <NA>
660     <NA>
661     <NA>
662     <NA>
663     <NA>
664     <NA>
665     <NA>
666     <NA>
667     <NA>
668     <NA>
669     <NA>
670     <NA>
671     <NA>
672     <NA>
673     <NA>
674     <NA>
675     <NA>
676     <NA>
677     <NA>
678     <NA>
679     <NA>
680     <NA>
681     <NA>
682     <NA>
683     <NA>
684     <NA>
685     <NA>
686     <NA>
687     <NA>
688     <NA>
689     <NA>
690     <NA>
691     <NA>
692     <NA>
693     <NA>
694     <NA>
695     <NA>
696     <NA>
697     <NA>
698     <NA>
699     <NA>
700     <NA>
701     <NA>
702     <NA>
703     <NA>
704     <NA>
705     <NA>
706     <NA>
707     <NA>
708     <NA>
709     <NA>
710     <NA>
711     <NA>
712     <NA>
713     <NA>
714     <NA>
715     <NA>
716     <NA>
717     <NA>
718     <NA>
719     <NA>
720     <NA>
721     <NA>
722     <NA>
723     <NA>
724     <NA>
725     <NA>
726     <NA>
727     <NA>
728     <NA>
729     <NA>
730     <NA>
731     <NA>
732     <NA>
733     <NA>
734     <NA>
735     <NA>
736     <NA>
737     <NA>
738     <NA>
739     <NA>
740     <NA>
741     <NA>
742     <NA>
743     <NA>
744     <NA>
745     <NA>
746     <NA>
747     <NA>
748     <NA>
749     <NA>
750     <NA>
751     <NA>
752     <NA>
753     <NA>
754     <NA>
755     <NA>
756     <NA>
757     <NA>
758     <NA>
759     <NA>
760     <NA>
761     <NA>
762     <NA>
763     <NA>
764     <NA>
765     <NA>
766     <NA>
767     <NA>
768     <NA>
769     <NA>
770     <NA>
771     <NA>
772     <NA>
773     <NA>
774     <NA>
775     <NA>
776     <NA>
777     <NA>
778     <NA>
779     <NA>
780     <NA>
781     <NA>
782     <NA>
783     <NA>
784     <NA>
785     <NA>
786     <NA>
787     <NA>
788     <NA>
789     <NA>
790     <NA>
791     <NA>
792     <NA>
793     <NA>
794     <NA>
795     <NA>
796     <NA>
797     <NA>
798     <NA>
799     <NA>
800     <NA>
801     <NA>
802     <NA>
803     <NA>
804     <NA>
805     <NA>
806     <NA>
807     <NA>
808     <NA>
809     <NA>
810     <NA>
811     <NA>
812     <NA>
813     <NA>
814     <NA>
815     <NA>
816     <NA>
817     <NA>
818     <NA>
819     <NA>
820     <NA>
821     <NA>
822     <NA>
823     <NA>
824     <NA>
825     <NA>
826     <NA>
827     <NA>
828     <NA>
829     <NA>
830     <NA>
831     <NA>
832     <NA>
833     <NA>
834     <NA>
835     <NA>
836     <NA>
837     <NA>
838     <NA>
839     <NA>
840     <NA>
841     <NA>
842     <NA>
843     <NA>
844     <NA>
845     <NA>
846     <NA>
847     <NA>
848     <NA>
849     <NA>
850     <NA>
851     <NA>
852     <NA>
853     <NA>
854     <NA>
855     <NA>
856     <NA>
857     <NA>
858     <NA>
859     <NA>
860     <NA>
861     <NA>
862     <NA>
863     <NA>
864     <NA>
865     <NA>
866     <NA>
867     <NA>
868     <NA>
869     <NA>
870     <NA>
871     <NA>
872     <NA>
873     <NA>
874     <NA>
875     <NA>
876     <NA>
877     <NA>
878     <NA>
879     <NA>
880     <NA>
881     <NA>
882     <NA>
883     <NA>
884     <NA>
885     <NA>
886     <NA>
887     <NA>
888     <NA>
889     <NA>
890     <NA>
891     <NA>
892     <NA>
893     <NA>
894     <NA>
895     <NA>
896     <NA>
897     <NA>
898     <NA>
899     <NA>
900     <NA>
901     <NA>
902     <NA>
903     <NA>
904     <NA>
905     <NA>
906     <NA>
907     <NA>
908     <NA>
909     <NA>
910     <NA>
911     <NA>
912     <NA>
913     <NA>
914     <NA>
915     <NA>
916     <NA>
917     <NA>
918     <NA>
919     <NA>
920     <NA>
921     <NA>
922     <NA>
923     <NA>
924     <NA>
925     <NA>
926     <NA>
927     <NA>
928     <NA>
929     <NA>
930     <NA>
931     <NA>
932     <NA>
933     <NA>
934     <NA>
935     <NA>
936     <NA>
937     <NA>
938     <NA>
939     <NA>
940     <NA>
941     <NA>
942     <NA>
943     <NA>
944     <NA>
945     <NA>
946     <NA>
947     <NA>
948     <NA>
949     <NA>
950     <NA>
951     <NA>
952     <NA>
953     <NA>
954     <NA>
955     <NA>
956     <NA>
957     <NA>
958     <NA>
959     <NA>
960     <NA>
961     <NA>
962     <NA>
963     <NA>
964     <NA>
965     <NA>
966     <NA>
967     <NA>
968     <NA>
969     <NA>
970     <NA>
971     <NA>
972     <NA>
973     <NA>
974     <NA>
975     <NA>
976     <NA>
977     <NA>
978     <NA>
979     <NA>
980     <NA>
981     <NA>
982     <NA>
983     <NA>
984     <NA>
985     <NA>
986     <NA>
987     <NA>
988     <NA>
989     <NA>
990     <NA>
991     <NA>
992     <NA>
993     <NA>
994     <NA>
995     <NA>
996     <NA>
997     <NA>
998     <NA>
999     <NA>
1000    <NA>
1001    <NA>
1002    <NA>
1003    <NA>
1004    <NA>
1005    <NA>
1006    <NA>
1007    <NA>
1008    <NA>
1009    <NA>
1010    <NA>
1011    <NA>
1012    <NA>
1013    <NA>
1014    <NA>
1015    <NA>
1016    <NA>
1017    <NA>
1018    <NA>
1019    <NA>
1020    <NA>
1021    <NA>
1022    <NA>
1023    <NA>
1024    <NA>
1025    <NA>
1026    <NA>
1027    <NA>
1028    <NA>
1029    <NA>
1030    <NA>
1031    <NA>
1032    <NA>
1033    <NA>
1034    <NA>
1035    <NA>
1036    <NA>
1037    <NA>
1038    <NA>
1039    <NA>
1040    <NA>
1041    <NA>
1042    <NA>
1043    <NA>
1044    <NA>
1045    <NA>
1046    <NA>
1047    <NA>
1048    <NA>
1049    <NA>
1050    <NA>
1051    <NA>
1052    <NA>
1053    <NA>
1054    <NA>
1055    <NA>
1056    <NA>
1057    <NA>
1058    <NA>
1059    <NA>
1060    <NA>
1061    <NA>
1062    <NA>
1063    <NA>
1064    <NA>
1065    <NA>
1066    <NA>
1067    <NA>
1068    <NA>
1069    <NA>
1070    <NA>
1071    <NA>
1072    <NA>
1073    <NA>
1074    <NA>
1075    <NA>
1076    <NA>
1077    <NA>
1078    <NA>
1079    <NA>
1080    <NA>
1081    <NA>
1082    <NA>
1083    <NA>
1084    <NA>
1085    <NA>
1086    <NA>
1087    <NA>
1088    <NA>
1089    <NA>
1090    <NA>
1091    <NA>
1092    <NA>
1093    <NA>
1094    <NA>
1095    <NA>
1096    <NA>
1097    <NA>
1098    <NA>
1099    <NA>
1100    <NA>
1101    <NA>
1102    <NA>
1103    <NA>
1104    <NA>
1105    <NA>
1106    <NA>
1107    <NA>
1108    <NA>
1109    <NA>
1110    <NA>
1111    <NA>
1112    <NA>
1113    <NA>
1114    <NA>
1115    <NA>
1116    <NA>
1117    <NA>
1118    <NA>
1119    <NA>
1120    <NA>
1121    <NA>
1122    <NA>
1123    <NA>
1124    <NA>
1125    <NA>
1126    <NA>
1127    <NA>
1128    <NA>
1129    <NA>
1130    <NA>
1131    <NA>
1132    <NA>
1133    <NA>
1134    <NA>
1135    <NA>
1136    <NA>
1137    <NA>
1138    <NA>
1139    <NA>
1140    <NA>
1141    <NA>
1142    <NA>
1143    <NA>
1144    <NA>
1145    <NA>
1146    <NA>
1147    <NA>
1148    <NA>
1149    <NA>
1150    <NA>
1151    <NA>
1152    <NA>
1153    <NA>
1154    <NA>
1155    <NA>
1156    <NA>
1157    <NA>
1158    <NA>
1159    <NA>
1160    <NA>
1161    <NA>
1162    <NA>
1163    <NA>
1164    <NA>
1165    <NA>
1166    <NA>
1167    <NA>
1168    <NA>
1169    <NA>
1170    <NA>
1171    <NA>
1172    <NA>
1173    <NA>
1174    <NA>
1175    <NA>
1176    <NA>
1177    <NA>
1178    <NA>
1179    <NA>
1180    <NA>
1181    <NA>
1182    <NA>
1183    <NA>
1184    <NA>
1185    <NA>
1186    <NA>
1187    <NA>
1188    <NA>
1189    <NA>
1190    <NA>
1191    <NA>
1192    <NA>
1193    <NA>
1194    <NA>
1195    <NA>
1196    <NA>
1197    <NA>
1198    <NA>
1199    <NA>
1200    <NA>
1201    <NA>
1202    <NA>
1203    <NA>
1204    <NA>
1205    <NA>
1206    <NA>
1207    <NA>
1208    <NA>
1209    <NA>
1210    <NA>
1211    <NA>
1212    <NA>
1213    <NA>
1214    <NA>
1215    <NA>
1216    <NA>
1217    <NA>
1218    <NA>
1219    <NA>
1220    <NA>
1221    <NA>
1222    <NA>
1223    <NA>
1224    <NA>
1225    <NA>
1226    <NA>
1227    <NA>
1228    <NA>
1229    <NA>
1230    <NA>
1231    <NA>
1232    <NA>
1233    <NA>
1234    <NA>
1235    <NA>
1236    <NA>
1237    <NA>
1238    <NA>
1239    <NA>
1240    <NA>
1241    <NA>
1242    <NA>
1243    <NA>
1244    <NA>
1245    <NA>
1246    <NA>
1247    <NA>
1248    <NA>
1249    <NA>
1250    <NA>
1251    <NA>
1252    <NA>
1253    <NA>
1254    <NA>
1255    <NA>
1256    <NA>
1257    <NA>
1258    <NA>
1259    <NA>
1260    <NA>
1261    <NA>
1262    <NA>
1263    <NA>
1264    <NA>
1265    <NA>
1266    <NA>
1267    <NA>
1268    <NA>
1269    <NA>
1270    <NA>
1271    <NA>
1272    <NA>
1273    <NA>
1274    <NA>
1275    <NA>
1276    <NA>
1277    <NA>
1278    <NA>
1279    <NA>
1280    <NA>
1281    <NA>
1282    <NA>
1283    <NA>
1284    <NA>
1285    <NA>
1286    <NA>
1287    <NA>
1288    <NA>
1289    <NA>
1290    <NA>
1291    <NA>
1292    <NA>
1293    <NA>
1294    <NA>
1295    <NA>
1296    <NA>
1297    <NA>
1298    <NA>
1299    <NA>
1300    <NA>
1301    <NA>
1302    <NA>
1303    <NA>
1304    <NA>
1305    <NA>
1306    <NA>
1307    <NA>
1308    <NA>
1309    <NA>
1310    <NA>
1311    <NA>
1312    <NA>
1313    <NA>
1314    <NA>
1315    <NA>
1316    <NA>
1317    <NA>
1318    <NA>
1319    <NA>
1320    <NA>
1321    <NA>
1322    <NA>
1323    <NA>
1324    <NA>
1325    <NA>
1326    <NA>
1327    <NA>
1328    <NA>
1329    <NA>
1330    <NA>
1331    <NA>
1332    <NA>
1333    <NA>
1334    <NA>
1335    <NA>
1336    <NA>
1337    <NA>
1338    <NA>
1339    <NA>
1340    <NA>
1341    <NA>
1342    <NA>
1343    <NA>
1344    <NA>
1345    <NA>
1346    <NA>
1347    <NA>
1348    <NA>
1349    <NA>
1350    <NA>
1351    <NA>
1352    <NA>
1353    <NA>
1354    <NA>
1355    <NA>
1356    <NA>
1357    <NA>
1358    <NA>
1359    <NA>
1360    <NA>
1361    <NA>
1362    <NA>
1363    <NA>
1364    <NA>
1365    <NA>
1366    <NA>
1367    <NA>
1368    <NA>
1369    <NA>
1370    <NA>
1371    <NA>
1372    <NA>
1373    <NA>
1374    <NA>
1375    <NA>
1376    <NA>
1377    <NA>
1378    <NA>
1379    <NA>
1380    <NA>
1381    <NA>
1382    <NA>
1383    <NA>
1384    <NA>
1385    <NA>
1386    <NA>
1387    <NA>
1388    <NA>
1389    <NA>
1390    <NA>
1391    <NA>
1392    <NA>
1393    <NA>
1394    <NA>
1395    <NA>
1396    <NA>
1397    <NA>
1398    <NA>
1399    <NA>
1400    <NA>
1401    <NA>
1402    <NA>
1403    <NA>
1404    <NA>
1405    <NA>
1406    <NA>
1407    <NA>
1408    <NA>
1409    <NA>
1410    <NA>
1411    <NA>
1412    <NA>
1413    <NA>
1414    <NA>
1415    <NA>
1416    <NA>
1417    <NA>
1418    <NA>
1419    <NA>
1420    <NA>
1421    <NA>
1422    <NA>
1423    <NA>
1424    <NA>
1425    <NA>
1426    <NA>
1427    <NA>
1428    <NA>
1429    <NA>
1430    <NA>
1431    <NA>
1432    <NA>
1433    <NA>
1434    <NA>
1435    <NA>
1436    <NA>
1437    <NA>
1438    <NA>
1439    <NA>
1440    <NA>
1441    <NA>
1442    <NA>
1443    <NA>
1444    <NA>
1445    <NA>
1446    <NA>
1447    <NA>
1448    <NA>
1449    <NA>
1450    <NA>
1451    <NA>
1452    <NA>
1453    <NA>
1454    <NA>
1455    <NA>
1456    <NA>
1457    <NA>
1458    <NA>
1459    <NA>
1460    <NA>
1461    <NA>
1462    <NA>
1463    <NA>
1464    <NA>
1465    <NA>
1466    <NA>
1467    <NA>
1468    <NA>
1469    <NA>
1470    <NA>
1471    <NA>
1472    <NA>
1473    <NA>
1474    <NA>
1475    <NA>
1476    <NA>
1477    <NA>
1478    <NA>
1479    <NA>
1480    <NA>
1481    <NA>
1482    <NA>
1483    <NA>
1484    <NA>
1485    <NA>
1486    <NA>
1487    <NA>
1488    <NA>
1489    <NA>
1490    <NA>
1491    <NA>
1492    <NA>
1493    <NA>
1494    <NA>
1495    <NA>
1496    <NA>
1497    <NA>
1498    <NA>
1499    <NA>
1500    <NA>
1501    <NA>
1502    <NA>
1503    <NA>
1504    <NA>
1505    <NA>
1506    <NA>
1507    <NA>
1508    <NA>
1509    <NA>
1510    <NA>
1511    <NA>
1512    <NA>
1513    <NA>
1514    <NA>
1515    <NA>
1516    <NA>
1517    <NA>
1518    <NA>
1519    <NA>
1520    <NA>
1521    <NA>
1522    <NA>
1523    <NA>
1524    <NA>
1525    <NA>
1526    <NA>
1527    <NA>
1528    <NA>
1529    <NA>
1530    <NA>
1531    <NA>
1532    <NA>
1533    <NA>
1534    <NA>
1535    <NA>
1536    <NA>
1537    <NA>

TypeError: data type 'integer' not understood

# **3. Análise Bivariada**

13. Países mais ricos vivem mais?
14. O nível de escolaridade influencia a expectativa de vida?
15. Países desenvolvidos consomem mais álcool?
16. A mortalidade infantil ainda é um problema em países em desenvolvimento?
17. Como a expectativa de vida evoluiu ao longo do tempo?
18. Países com maior investimento em saúde têm maior expectativa de vida?

# **4. Processamento dos Dados**

Nesta etapa, é necessário que você:
* Faça a limpeza das colunas erradas;
* Faça o tratamento dos valores nulos da forma que achar válido;
* Trate as duplicatas;
* Transforme as colunas categóricas em numéricas;
* Faça o escalonamento de variáveis numéricas;

# **5. Feature Engineer**

É aqui que sua imaginação precisa fluir. Crie de duas a três novas variáveis relacionando as variáveis já existentes e explique como elas poderiam agregar na capacidade do modelo de prever expectativa de vida.